blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{
    padding:0;margin:0}
*{color:#434343}
a{text-decoration:none}
table{border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:400;font-style:normal}
strong{font-weight:700}
ol,ul{list-style:none;margin:0;padding:0}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%;margin:0;padding:0}
q:after,q:before{content:""}
abbr,acronym{border:0}
@font-face{font-family:Yucca;src:url(../fonts/Yucca.woff)}
@font-face{font-family:EndlessJourneyJNL;src:url(../fonts/EndlessJourney.woff)}
body{font-family:EndlessJourneyJNL}
.section{text-align:center}
.translatetext{transform:scale(1,1.15);transform-style: preserve-3d;}
.noselect{-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;
    -webkit-touch-callout:none;-webkit-user-select:none;user-select:none}
    
    .fp-controlArrow.fp-prev {
        left: 8vw;
        border-width: 1vw 1vw 1vw 0;
        border-color: transparent #333 transparent transparent;
    }

    .fp-controlArrow.fp-next {
        right: 8vw;
        border-width: 1vw 0 1vw 1vw;
        border-color: transparent transparent transparent #333;
    }

    .fp-controlArrow {
        margin-top: -1vw;
        top: 90%;
    }